@import './variables';

body {
  background-color: #ffffff;
  color: #333;
  font-family: 'Segoe UI', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
h1 {
  font-family: 'Segoe UI', sans-serif;
  font-weight: 700;
}

input::placeholder {
  color: #aaa;
}

.nav-link.active {
  text-decoration: underline;
  font-weight: bold;
}

.navbar-nav .nav-link {
  font-size: 1rem;
}

@media (max-width: 576px) {
  .navbar-nav .nav-link {
    font-size: 1.1rem;
    text-align: center;
    width: 100%;
  }
}

h2 {
  color: #0d6efd;
}
.card {
  border-radius: 12px;
  background-color: #f9f9f9;
  transition: transform 0.2s ease;
  text-align: center;
  align-items: center;

  &:hover {
    transform: scale(1.03);
  }

  img {
    width: 60px;
    height: 60px;
  }
}
